<p>
	<a class="btn btn-primary btn-lg btn-block btn-cta" href="http://sigeventos.com.br/agrimoney2013/inscricao/sel_linguagem.asp" target="_blank">
		INSCREVA-SE JÁ<br>
		<small>- vagas limitadas -</small>
	</a>
</p>
<hr>
<div class="sponsors">
	<small>Patrocínio Platinum:</small>
	<div class="row">
		<div class="col-xs-8 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<%= image_tag 'sponsor-bmf.png' %>
		</div>
	</div>
	<hr>
	<small>Realização:</small>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<%= image_tag 'sponsor-canalrural.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
			<%= image_tag 'sponsor-safras.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
			<%= image_tag 'sponsor-cma.png' %>
		</div>
	</div>
	<hr>
	<small>Apoio institucional:</small>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<%= image_tag 'spn-abcz.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
			<%= image_tag 'spn-aprosoja.png' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<%= image_tag 'spn-ccib.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
			<%= image_tag 'spn-famato.png' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<%= image_tag 'spn-imea.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
			<%= image_tag 'spn-sindag.png' %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1">
			<%= image_tag 'spn-sindiracoes.png' %>
		</div>
		<div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
			<%= image_tag 'spn-srb.png' %>
		</div>
	</div>
	
	
</div>
<div class="social">
	<h4>Faça parte da nossa rede</h4>
	<div class="fb-like-box" data-href="https://www.facebook.com/canalrural" data-width="298" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
</div>
