<!DOCTYPE html>
<html lang="en">
<head>
	<%= yield :head %>
	<%= render :partial => 'header' %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=104305529720963";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render :partial => 'banner' %>

<%= render :partial => 'navbar' %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<%= render :partial => @content %>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
			<%= render :partial => 'sponsor' %>
		</div>
	</div>
</div>

<%= yield :footer %>
</body>
</html>



